@font-face{font-family:'DM Sans';font-style:normal;font-weight:400;font-display:swap;src:url("fonts/DMSans-400.woff2") format("woff2")}
@font-face{font-family:'DM Sans';font-style:normal;font-weight:500;font-display:swap;src:url("fonts/DMSans-400.woff2") format("woff2")}
@font-face{font-family:'DM Serif Display';font-style:normal;font-weight:400;font-display:swap;src:url("fonts/DMSerifDisplay-400.woff2") format("woff2")}
